@model IEnumerable<ShopHoaTuoi.Models.CTGH>
@using ShopHoaTuoi.Common

@if (Model != null && Model.Any())
{
    <h3>GIỎ HÀNG <span style="float:right;position:relative"><small>@Model.Count()</small></span></h3>
    /* var i = 0;*/
    var sum = decimal.Zero;
    <div style="border:1px solid #808080;">
        <table class="table">
            @foreach (var item in Model)
            {
                sum +=(decimal) item.tongtien;
                <tr>
                    <td>@item.tenhoa</td>
                    <td>@item.soluong</td>
                    <td>@Common.FormatNumber(item.giaban, 0)</td>
                </tr>
            }
            <tr>
                <td></td>
                <td>Tổng tiền</td>
                <td>@Common.FormatNumber(sum, 0)</td>
            </tr>
        </table>
    </div>

}
else
{

}


